:root {
  --color-neutral: 240, 5%, 34%;
  --color-neutral-50: 240, 6%, 97%;
  --color-neutral-100: 240, 5%, 93%;
  --color-neutral-200: 228, 6%, 86%;
  --color-neutral-300: 220, 5%, 73%;
  --color-neutral-400: 218, 5%, 57%;
  --color-neutral-500: 222, 5%, 43%;
  --color-neutral-600: 222, 8%, 34%;
  --color-neutral-700: 222, 10%, 27%;
  --color-neutral-800: 225, 14%, 19%;
  --color-neutral-900: 225, 18%, 12%;
  --color-primary-50: 214, 100%, 97%;
  --color-primary-100: 214, 95%, 93%;
  --color-primary-200: 213, 97%, 87%;
  --color-primary-300: 212, 96%, 78%;
  --color-primary-400: 213, 94%, 68%;
  --color-primary-500: 217, 91%, 60%;
  --color-primary-600: 221, 83%, 53%;
  --color-primary-700: 224, 76%, 48%;
  --color-primary-800: 226, 71%, 40%;
  --color-primary-900: 224, 64%, 33%;
}
